<footer class="page-footer  bg-dark">
<div class="footer-copyright text-center py-3 text-primary">
  <a href="https://www.facebook.com/SamArul1098/" class="fa fa-facebook"></a>
  <a href="https://twitter.com/Sam_Arul_/" class="fa fa-twitter"></a>
  <a href="https://www.instagram.com/sam_arul_/" class="fa fa-instagram"></a>
  <a href="https://www.linkedin.com/in/samarul1098/" class="fa fa-linkedin"></a>
  <a href="https://github.com/Sam-Arul" class="fa fa-github"></a>
  <a href="mailto:samarul1098@gmail.com" class="fa fa-envelope-o"></a>
</div>


</footer>