<div class="container" id="content-wrap">
    <div class="row card bg-dark text-primary" id="cardDesign">
        <h1>
            Hello, This is Sam Arul Anbarasan 
        </h1>
    </div>
    <div>
        <img id="image"src="https://scontent.fmaa2-1.fna.fbcdn.net/v/t1.0-9/44941816_745843409102718_2180898235864842240_o.jpg?_nc_cat=101&_nc_sid=09cbfe&_nc_ohc=VTu3_80lj3IAX9m5pHM&_nc_ht=scontent.fmaa2-1.fna&oh=34aba0d378f0bcd7aa2d71233ef6f4d6&oe=5F027F82">
    </div>
    <div class="row card bg-dark text-primary" id="cardDesign">
        <h4>
            I’m fascinated by languages, both human and machine, and the connections between the two. I recently completed a MS in computational linguistics at Saarland University in Germany, where I studied speech technology, machine learning, and computer-assisted language learning. Prior to that, I earned a BA in philosophy from UC Berkeley, studying formal logic and the philosophy of mind and language. I later worked in sales for a SaaS company in San Francisco, and taught English as a foreign language in SF and Vietnam. Meanwhile, I taught myself Python on the side, which ultimately led me to computational linguistics.
    
            In grad school I fell in love with software development, so I spent the fall of 2015 at the Recurse Center, honing my coding skills by working on: improving my JavaScript fluency, writing functional code, contributing to open-source projects like Zulip, exploring CPython internals, visualizing data with libraries like D3, and making test-driven development a habit.
            
            I started developing software full-time in 2016. As an Outreachy intern at Mozilla, I spent the summer of 2016 helping test and refactor the Marionette test runner, which you can read all about on my blog. Since the fall of 2016, I’ve been on the engineering team at ÜberResearch, where I’m working on the design and implementation of a query language to interface with scientific research funding data.
            
            When I’m not at a computer, I enjoy traveling, learning foreign languages, swing dancing, knitting, karaoke, and listening to live music. You can usually find me in the sunniest spot in the room (or the spot closest to a dog).
        
        </h4>
    </div>
    
</div>
