<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div >
    <a class="navbar-brand " routerLink="" >       
       <img id="image"src="https://scontent.fmaa2-1.fna.fbcdn.net/v/t1.0-9/44941816_745843409102718_2180898235864842240_o.jpg?_nc_cat=101&_nc_sid=09cbfe&_nc_ohc=VTu3_80lj3IAX9m5pHM&_nc_ht=scontent.fmaa2-1.fna&oh=34aba0d378f0bcd7aa2d71233ef6f4d6&oe=5F027F82">
    </a>
  </div>
    
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink=""> About </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/blog"> Blog </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link " routerLink="/projects">My Projects</a>
        </li>
       
       
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>