
<div class="container">
    <div class="row card">
        <h1>
            Voice controlled home automation using bluetooth

        </h1>
        <p>

            Jan 2018 - Apr 2018
            This project was designed to automate most of the home appliances like fan,TV, lights, etc. This was achieved using a bluetooth module hc-05 and a
            microcontroller(arduino uno atmega 328 ) and relay drivers.
        </p>
    </div>
    <div class="row card">
        <h1>
            Optical power transmission
        </h1>
        <p>
            Jul 2016 - Nov 2016
            This Project aims at transmitting current from one place to another through
            optical interface and analyze its efficiency by comparing its power loss with
            that of the standard electrical wires for different distance of transmission.
        </p>
    </div>
    <div class="row card">
        <h1>
            Book my movie ticket
        </h1>
        <p>
        
        
        
            May 2016 - Nov 2016
            Movie booking is made simpler with a c++ program. The user has to create
            an account and can use the same to book tickets for the movie. The
            program makes use of hashing and stack algorithms.</p>
    </div>
    </div>
    